<%- include("partials/header") -%>
<h1>Meal Patch</h1>
<label>Curr Meal:</label>
<div class = "table">
    <table>
        <tr>
            <th>Name</th>
            <th>Food Items</th>
            <th>Category</th>
        </tr>
        <tr>
            <td><%=item.name%></td>
            <td>
            <%item.mealItems.forEach(function(it){%>
                <%=it.name%>,
            <%});%>
            </td>
            <td><%=item.category%></td>
        </tr>
    </table>
</div>


<hr>
<form action = "/patchMeal" method = "post">
    <label>Name:</label><input type = "text" name = "name" autocomplete="off">
    <label>Food Items:</label>
    <table style = "display: inline-block; margin:0px 10px">
        <tr>
            <th>Add</th>
            <th>Food</th>
            <th>Calories</th>
            <th>Protien</th>
            <th>Fat</th>
            <th>Carbohydrates</th>
            <th>Water</th>
            <th>Item Weight (in g)</th>
        </tr>
        <%foodItems.forEach(function(item){%>
            <tr>
                <td><input type="checkbox" name="mealItems" value="<%=item._id%>"></td>
                <td><%=item.name%></td>
                <td><%=item.calories%></td>
                <td><%=item.protien%></td>
                <td><%=item.fat%></td>
                <td><%=item.carb%></td>
                <td><%=item.water%></td>
                <td><%=item.itemWeight.val%></td>
            </tr>
        <%});%>
    </table>

    <!-- Code to take input of category -->
    <label>Category:</label>
    <select name="category">
        <% category.forEach(function(unit){%>
            <option value="<%=unit%>"><%=unit%></option>
        <% });%>
    </select>
    <button type = "submit" class = "btn btn-primary" style = "margin:10px">Edit Meal</button>
</form>
<hr>
<%- include("partials/footer") -%>